<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>page template</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" th:href="@{/styles/style.css}" />
        <link rel="stylesheet" th:href="@{/styles/main.css}" />
        <link rel="icon" th:href="@{icon.png}" />
    </head>

    <body>
        <header></header>
        <nav>
            <div
                style="
                    position: absolute;
                    top: 15px;
                    left: 60px;
                    color: #2b2b2b;
                    background-color: #e2e2e2;
                    padding: 5px 10px;
                    border-radius: 10px;
                "
            >
                <a th:href="@{/}">
                    Your
                    <span class="gradient">Auction</span>
                </a>
            </div>
            <ul>
                <ul>
                    <li>
                        <a th:href="@{/}">Home</a>
                    </li>
                    <li>
                        <a th:href="@{/sell}">Sell</a>
                    </li>
                    <li>
                        <a th:href="@{/buy}">Buy</a>
                    </li>
                    <li>
                        <a th:href="@{/account}">YourAccount</a>
                    </li>
                </ul>
            </ul>
        </nav>
        <main>
            <section id="messages">
                <div class="message" th:if="${session.message}" th:utext="${session.message}"></div>
            </section>
            <section id="breadcrumb">
                <div
                    class="breadcrumb"
                    th:if="${session.breadcrumb}"
                    th:utext="${session.breadcrumb}"
                ></div>
            </section>
            <section>
                <h1>
                    Welcome,
                    <span style="font-style: italic" th:text="${session.user.getUsername()}"></span>
                </h1>
                <p>In this page you can manage your products and auctions.</p>
            </section>

            <section id="Products">
                <h2>Products</h2>
                <div class="flex-row">
                    <form action="product/new" method="post" enctype="multipart/form-data">
                        <fieldset style="display: block">
                            <legend>Add a new product</legend>
                            <label for="name">Product Name:</label>
                            <input
                                type="text"
                                id="name"
                                name="product-name"
                                required
                                placeholder="Enter product name"
                            />
                            <label for="description">Product Description:</label>
                            <textarea
                                id="description"
                                name="product-description"
                                placeholder="Enter product description"
                                maxlength="500"
                                style="background-color: #e2e1e1"
                            ></textarea>
                            <label for="price">Product Price (€):</label>
                            <input
                                type="number"
                                id="price"
                                name="product-price"
                                required
                                min="0.01"
                                step="0.01"
                                value="1.00"
                            />
                            <label for="image">Product Image:</label>
                            <input
                                type="file"
                                id="image"
                                name="product-image"
                                required
                                accept="image/png, image/jpeg"
                            />
                            <button type="submit">Add Product</button>
                        </fieldset>
                    </form>
                    <fieldset
                        style="
                            max-height: 630px;
                            padding-top: 20px;
                            padding-bottom: 20px;
                            min-width: 60%;
                        "
                    >
                        <legend>Edit product details</legend>
                        <div style="overflow-y: scroll; max-height: 610px; max-width: 99%">
                            <table style="max-width: calc(100% - 20px); margin-right: 20px">
                                <thead>
                                    <th>Name</th>
                                    <th>Price</th>
                                    <th>Description</th>
                                    <th>Auction_id</th>
                                    <th>Image</th>
                                    <th>Submit edit</th>
                                </thead>
                                <tbody>
                                    <tr th:each="product: ${session.products}">
                                        <form
                                            th:action="@{/product/edit/{id}(id=${product.getId()})}"
                                            enctype="multipart/form-data"
                                            method="post"
                                        >
                                            <td>
                                                <input
                                                    type="text"
                                                    name="product-name"
                                                    th:value="${product.getName()}"
                                                    required
                                                />
                                            </td>
                                            <td>
                                                <div
                                                    style="
                                                        display: flex;
                                                        flex-direction: row;
                                                        align-items: center;
                                                        align-content: center;
                                                    "
                                                >
                                                    <div style="margin-right: 10px">€</div>
                                                    <input
                                                        style="display: inline-block"
                                                        type="number"
                                                        name="product-price"
                                                        th:value="${product.getPrice()}"
                                                        required
                                                        min="0.01"
                                                        step="0.01"
                                                        th:disabled="${!product.canChangePrice(session.open_auctions)}"
                                                    />
                                                </div>
                                            </td>
                                            <td>
                                                <textarea
                                                    name="product-description"
                                                    required
                                                    th:text="${product.getDescription()}"
                                                ></textarea>
                                            </td>
                                            <td>
                                                <!--TODO session.auctions.get(session.auctions.indexOf(product.getAuctionId())).getItemCount() < 1}-->
                                                <select
                                                    name="product-auction-id"
                                                    th:disabled="${product.isAuctioned() && !product.canChangeAuction(session.open_auctions)}"
                                                >
                                                    <option value="0">No auction</option>
                                                    <option
                                                        th:each="auction, iStat: ${session.open_auctions}"
                                                        th:value="${auction.getId()}"
                                                        th:text="'Auct.' + ${iStat.index + 1}"
                                                        th:selected="${product.getAuctionId() != null and product.getAuctionId() == auction.getId()}"
                                                    ></option>
                                                </select>
                                            </td>
                                            <td>
                                                <div
                                                    style="
                                                        display: flex;
                                                        flex-direction: column;
                                                        align-items: center;
                                                        align-content: center;
                                                    "
                                                >
                                                    <img
                                                        th:src="@{'/image/' + ${product.getImageFilename()}}"
                                                        alt="Product Image"
                                                        style="max-width: 100px; max-height: 100px"
                                                    />
                                                    <input
                                                        type="file"
                                                        style="
                                                            border: none;
                                                            padding: 10px;
                                                            box-shadow: none;
                                                            background: none;
                                                        "
                                                        name="product-image"
                                                        accept="image/png, image/jpeg"
                                                        class="change"
                                                    />
                                                </div>
                                            </td>
                                            <td>
                                                <button type="submit">Update</button>
                                            </td>
                                        </form>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </fieldset>
                </div>
            </section>

            <section id="Auctions">
                <h2>Auctions</h2>
                <div class="flex-row wrap" style="align-items: start">
                    <div>
                        <h3>Create a new auction</h3>
                        <form action="auction/new" method="post">
                            <div class="flex-row">
                                <div>
                                    <fieldset style="display: block">
                                        <legend>Auction details</legend>
                                        <label for="final-bid-submission-date">
                                            Bid submission date
                                        </label>
                                        <input
                                            type="date"
                                            name="final-bid-submission-date"
                                            id="final-bid-submission-date"
                                            required
                                            th:value="${#dates.format(new java.util.Date(), 'yyyy-MM-dd')}"
                                            th:min="${#dates.format(new java.util.Date(), 'yyyy-MM-dd')}"
                                        />
                                        <label for="final-bid-submission-time"></label>
                                        <input
                                            type="time"
                                            name="final-bid-submission-time"
                                            id="final-bid-submission-time"
                                            required
                                            th:value="${#dates.format(new java.util.Date(), 'HH:mm')}"
                                        />
                                        <label for="min-bid-increment">
                                            Minimum bid-increment (€)
                                        </label>
                                        <input
                                            type="number"
                                            name="min-bid-increment"
                                            id="min-bid-increment"
                                            required
                                            step="1"
                                            min="1"
                                            value="1"
                                        />
                                    </fieldset>
                                </div>
                                <div>
                                    <fieldset>
                                        <legend>Product selection</legend>
                                        <table th:if="${session.unauctioned_products.size() > 0}">
                                            <thead>
                                                <tr>
                                                    <th>Select product</th>
                                                    <th>Name</th>
                                                    <th>Price</th>
                                                    <th>Description</th>
                                                    <th>Image</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr
                                                    th:each="product: ${session.unauctioned_products}"
                                                >
                                                    <td>
                                                        <input
                                                            type="checkbox"
                                                            name="product-ids"
                                                            th:value="${product.id}"
                                                            checked
                                                        />
                                                    </td>
                                                    <td>
                                                        <span
                                                            type="text"
                                                            name="product-name"
                                                            th:text="${product.getName()}"
                                                        ></span>
                                                    </td>
                                                    <td>
                                                        <span
                                                            type="number"
                                                            name="product-price"
                                                            th:text="'€ ' + ${product.getPrice()}"
                                                        ></span>
                                                    </td>
                                                    <td>
                                                        <div
                                                            th:text="${product.getDescription()}"
                                                        ></div>
                                                    </td>
                                                    <td>
                                                        <img
                                                            th:src="@{'/image/' + ${product.getImageFilename()}}"
                                                            alt="Product Image"
                                                            style="
                                                                max-width: 100px;
                                                                max-height: 100px;
                                                            "
                                                        />
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div
                                            class="info"
                                            th:if="${session.unauctioned_products.size() == 0}"
                                        >
                                            <p>No products available for auction</p>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <button style="float: right; margin-top: 20px" type="submit">
                                Create Auction
                            </button>
                        </form>
                    </div>
                </div>
                <div>
                    <h3>Open auctions</h3>
                    <table th:if="${session.open_auctions.size() > 0}">
                        <thead>
                            <tr>
                                <th>Auction number</th>
                                <th>Current highest bid</th>
                                <th>Minimum bid increment</th>
                                <th>Products</th>
                                <th>End time</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="auction, iStat: ${session.open_auctions}">
                                <td th:text="${iStat.index + 1}"></td>
                                <td>
                                    <span
                                        th:if="${auction.getCurrentHighestBid() != null}"
                                        th:text="'€ ' + ${auction.getCurrentHighestBid().getBidAmount()}"
                                    ></span>
                                    <div
                                        th:if="${auction.getCurrentHighestBid() == null}"
                                        class="info"
                                    >
                                        <p>No bids yet</p>
                                    </div>
                                </td>
                                <td>
                                    <span
                                        th:text="'€ ' + ${auction.getMinimumBidIncrement()}"
                                    ></span>
                                </td>
                                <td>
                                    <div th:each="product: ${auction.getProducts()}">
                                        <a
                                            class="auction-link"
                                            th:href="@{'/product/' + ${product.getId()}}"
                                            th:text="${product.getName()}"
                                        ></a>
                                    </div>
                                </td>
                                <td>
                                    <span th:text=" ${auction.getRemainingTimeString()}"></span>
                                </td>
                                <td>
                                    <form
                                        th:action="@{'/auction/close/' + ${auction.getId()}}"
                                        method="post"
                                    >
                                        <button
                                            name="auction-close-id"
                                            th:disabled="${!auction.canBeClosed()}"
                                            type="submit"
                                            th:title="${auction.canBeClosed() ? 'Close this auction' : 'The auction has no bids or deadline has not expired yet'}"
                                        >
                                            Close Auction
                                        </button>
                                    </form>
                                    <form
                                        th:action="@{/auction/delete/${auction.getId()}}"
                                        method="post"
                                    >
                                        <button
                                            type="submit"
                                            class="destructive"
                                            th:disabled="${!auction.canBeDeleted()}"
                                            th:title="${auction.canBeDeleted() ? 'Delete this auction' : 'The auction has some bids already'}"
                                        >
                                            Delete Auction
                                        </button>
                                    </form>
                                    <form
                                        th:action="@{'/sell/auction/' + ${auction.getId()}}"
                                        method="get"
                                    >
                                        <button type="submit">Auction details</button>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="info" th:if="${session.open_auctions.size() == 0}">
                        <p>No open auctions</p>
                    </div>
                </div>
                <div>
                    <h3>Closed auctions</h3>
                    <table
                        th:if="${session.closed_auctions != null and session.closed_auctions.size() > 0}"
                    >
                        <thead>
                            <tr>
                                <th>Final bid</th>
                                <th>End time</th>
                                <th>Winner</th>
                                <th>Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="auction: ${session.closed_auctions}">
                                <td>
                                    <span
                                        th:text="${auction.getCurrentHighestBid().getBidAmount()}"
                                    ></span>
                                    @
                                    <span
                                        th:text="${auction.getCurrentHighestBid().getBidTimestamp()}"
                                    ></span>
                                </td>
                                <td>
                                    <span th:text="${auction.getEndTime()}"></span>
                                </td>
                                <td>
                                    <span
                                        th:text="${auction.getCurrentHighestBid().getBidderUsername()}"
                                    ></span>
                                </td>
                                <td>
                                    <form
                                        th:action="@{'/sell/auction/' + ${auction.getId()}}"
                                        method="get"
                                    >
                                        <button type="submit">Auction details</button>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div
                        class="info"
                        th:if="${session.closed_auctions == null or session.closed_auctions.size() == 0}"
                    >
                        <p>No closed auctions</p>
                    </div>
                </div>
            </section>
        </main>
        <footer>
            <p>&copy; 2025 YourAuction. All rights reserved.</p>
        </footer>
    </body>
</html>
