<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>YourAuction</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../../webapp/styles/style.css" th:href="@{styles/style.css}" />
        <link rel="stylesheet" href="../../webapp/styles/main.css" th:href="@{styles/main.css}" />
        <link rel="icon" th:href="@{icon.png}" />
        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
            rel="stylesheet"
        />
    </head>

    <body>
        <header></header>
        <nav>
            <div id="logo">
                <a th:href="@{/}">
                    Your
                    <span class="gradient">Auction</span>
                </a>
            </div>
            <ul>
                <ul>
                    <li>
                        <a th:href="@{/}">Home</a>
                    </li>
                    <li>
                        <a th:href="@{/sell}">Sell</a>
                    </li>
                    <li>
                        <a th:href="@{/buy}">Buy</a>
                    </li>
                    <li>
                        <a th:href="@{/account}">YourAccount</a>
                    </li>
                </ul>
            </ul>
        </nav>
        <main>
            <section id="messages">
                <div
                    class="message"
                    th:if="${session.FLASH_message}"
                    th:utext="${session.FLASH_message}"
                ></div>
            </section>
            <section id="breadcrumb">
                <div class="breadcrumb" th:if="${breadcrumb}" th:utext="${breadcrumb}"></div>
            </section>
        </main>
        <footer>
            <p>&copy; 2025 YourAuction. All rights reserved.</p>
        </footer>
    </body>
</html>
