node_modules
.idea
package-lock.json
.mvn
target
mvnw
mvn
mvnw.cmd
app/auction-app/src/main/resources/it/polimi/auctionapp/utils/config.properties
app/auction-app/src/main/webapp/scripts/generated
docs/presentation/wip
*.aux
*_latexmk
*.fls
*.log
