body {
    background: linear-gradient(72deg, #146b27c2 6.74%, #80c73dbb 82.36%);
    align-items: center;
    justify-content: center;

}

h1 {
    text-align: center;
    font-size: 5em;
    color: #2b2b2b;
    padding: 20px;
    text-shadow: 10px 10px 100px rgba(0, 0, 0, 0.5);
    margin: 0px;
    padding: 0px;
}

footer p {
    margin-top: 40px;
}

h2 {
    text-align: center;
    font-size: 2em;
    color: #2b2b2b;
    text-shadow: 10px 10px 100px rgba(0, 0, 0, 0.5);
    margin: 0;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 20px;
    font-weight: bold;
    font-size: 1.2em;
    color: #2b2b2b;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #09301100 6.74%, #253a124b 82.36%);
    height: 100px;
    margin-top: 100px;
}

header {
    padding: 50px;
    transition: 0.3s;
    margin: 20px 100px 100px 100px;
}

header:hover {
    transform: scale(1.05);
}


.go-button {
    background: linear-gradient(72deg, #146b2727 6.74%, #80c73d18 82.36%);
    padding: 100px 220px;
    margin: 10px 20px;
}

.go-button:hover {
    outline: 2px solid #e2e1e1;
}
