body {
    font-family: 'Nexa', sans-serif;
    background-color: #e2e1e1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0px;
    scroll-behavior: smooth;
    color: #2b2b2b;
    align-items: center;
    text-align: left;
}


h1 {
    font-size: 3em;
    margin-bottom: 0.2em;
    
}

h2 {
    font-size: 2em;
    color: #2b2b2b;
    margin: 0;
}


.gradient {
    background: linear-gradient(72deg, #006816 6.74%, #37b107 82.36%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    transition: 0.3s;
}

.gradient:hover,
h1:hover .gradient {
    filter: hue-rotate(-5deg) brightness(0.9);
}

.go-button {
    background: linear-gradient(72deg, #146b27cc 6.74%, #80c73dbe 82.36%);
    padding: 100px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 5px;
    cursor: pointer;
    border-radius: 12px;
    font-size: 2em;
    font-family: 'Nexa', sans-serif;
    font-weight: bold;
    color: white;
    box-shadow: 10 10 100px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    position: relative;
}


.go-button:hover {
    filter: drop-shadow(0px 0px 10px #146b27) hue-rotate(-5deg) brightness(0.9);
    transform: scale(1.05);
    transition: 0.3s;
    outline: 2px solid #45a049;
    outline-offset: 3px;
}

.go-button .arrow-button {
    bottom: 20px;
    left: 20px;
    background-color: #e2e2e2;
    color: #2b2b2b;
    border-radius: 20px;
    position: absolute;
    font-size: 0.5em;
    padding: 10px 15px;
    transition: 0.3s;
}

.go-button:hover .arrow-button {
    filter: brightness(1.2);
}


.arrow-button-description {
    opacity: 0;
    transform: scale(0.01);
    position: absolute;
    color: transparent;
    transition: opacity 0.3s ease, visibility 0.3s ease, scale 0.3s ease;
}

.go-button:hover .arrow-button-description {
    opacity: 1;
    visibility: visible;
    display: inline-block;
    transform: scale(1);
    position: static;
    color: #2b2b2b;
}

a {
    text-decoration: none;
    color: black
}


nav {
    position: absolute;
    top: 0px;
    right: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.5em;
    font-weight: bold;
    color: #2b2b2b;
}

nav ul {
    float: right;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav li {
    display: inline;
    margin: 0 10px;
}

nav li a {
    text-decoration: none;
    color: #2b2b2b;
    padding: 10px 20px;
    border-radius: 2px;
    transition: 0.3s;
}

nav li a:hover {
    color: rgb(245, 245, 245);
    border-bottom: solid 3px rgb(245, 245, 245);

}

header {
    margin-bottom: 60px;
}

table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 10px;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.1);
}


table td {
    border: 1px solid #c0c0c0;
    padding: 8px;
    transition: 0.3s;

}

table tr th:first-child {
    border-top-left-radius: 10px;
}

table tr th:last-child {
    border-top-right-radius: 10px;
}

table thead {
    background: linear-gradient(45deg, #146b27c2 6.74%, #80c73dbb 82.36%);
}

table th {
    text-align: left;
    padding: 7px 10px;
    color: #e2e1e1;
}

table thead tr {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}


table tr:nth-child(even) {
    background-color: #dddddd;
}

table tr:hover {
    background-color: #37b10723;
}


button {
    padding: 20px 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1em;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    margin: 10px;
    font-weight: bold;
    max-height: 60px;

    background: #e2e2e2;
    color:#146b27;
    border: 1px solid #146b27;
}

button:hover{
    background: linear-gradient(45deg, #146b27cc 6.74%, #80c73dbb 82.36%);
    color:white;
    transform: scale(1.05);
    outline: solid 2px #45a049;
    outline-offset: 2px;
}



input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="file"],
input[type="date"],
input[type="time"]
{
    width: 100%;
    padding: 17px;
    border: 1px solid rgba(122, 175, 72, 0.5);
    border-radius: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    background-color: #e2e2e2;
    transition: 0.3s;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.1);
}


label {
    font-size: 1.2em;
    margin-bottom: 5px;
    display: block;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
input[type="file"]:focus,
input[type="time"]:focus {
    outline: 1px solid #7aaf48; 
    border: 1px solid;
    border-color: #7aaf48;
    box-shadow: 0 0 5px rgba(122, 175, 72, 0.5);
}


fieldset {
    border: 2px solid #7aaf48;
    border-radius: 10px;
    display: inline-block;
    width: auto;
    padding: 40px;
    display: flex;
    gap:30px;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.1);
}

legend {
    font-size: 1.4em;
}

input[type="tel"],
input[type="url"],
input[type="search"],
select,
textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid rgba(122, 175, 72, 0.5);
    border-radius: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    transition: 0.3s;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.1);
}

textarea {
    min-height: 120px;
    resize: vertical;
}

input[type="tel"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
select:focus,
textarea:focus {
    border-color: #7aaf48;
    box-shadow: 0 0 5px rgba(122, 175, 72, 0.5);
}

input[type="range"] {
    width: 100%;
    margin-bottom: 10px;
    accent-color: #7aaf48;
    margin-bottom: 10px;

}

input[type="color"] {
    width: 60px;
    height: 40px;
    border: 1px solid rgba(122, 175, 72, 0.5);
    border-radius: 5px;
    padding: 2px;
    cursor: pointer;
}

input[type="checkbox"],
input[type="radio"] {
    margin-right: 10px;
    width: 25px;
    height: 25px;
    accent-color: #7aaf48;
    transform: scale(1.2);
    cursor: pointer;
    padding: 10px;
}

.breadcrumb {
    display: flex;
    align-items: center;
    margin: 20px 0;
    padding: 20px;
    background-color: #e2e2e2;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    gap: 10px;
    color: #45a049
}

.breadcrumb a:hover {
    background: linear-gradient(72deg, #146b27c2 6.74%, #80c73dbb 82.36%);
    color: white;
}

.breadcrumb a {
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s;

}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    margin: 20px 10px;
}

