:root {
    --primary-color: #006816;
    --secondary-color: #37b107;
    --background-color: #e2e1e1;
    --text-color: #2b2b2b;
    --hover-brightness: 0.9;
    --font-family: 'Nexa', sans-serif;
    --button-gradient-start: #146b27cc;
    --button-gradient-end: #80c73dbe;
    --outline-color: #45a049;
    --box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.1);
    --transition-duration: 0.3s;
    --border-radius: 10px;

    --error-color: 175, 73, 72;
    --success-color: 72, 122, 175;
    --info-color: 72, 175, 175;
    --warning-color: 175, 175, 72;
}

html {
    scroll-behavior: smooth;
}

:target {
    animation: highlight-fade 2s ease-in-out;
}

@keyframes highlight-fade {
    0% {
        background-color: transparent;
    }
    50% {
        background-color: rgba(31, 101, 5, 0.64);
        border: solid 1px #146b27cc;
    }
    100% {
        background-color: transparent;
    }
}

body {
    font-family: 'Nexa', sans-serif;
    background-color: #e2e1e1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0px;
    scroll-behavior: smooth;
    color: #2b2b2b;
    align-items: center;
    text-align: left;
}

h1 {
    font-size: 3em;
    margin-bottom: 0.2em;
}

h2 {
    font-size: 2em;
    color: #2b2b2b;
    margin: 0;
}

h3 {
    margin-top:2em;
}

.gradient {
    background: linear-gradient(72deg, #006816 6.74%, #37b107 82.36%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    transition: 0.3s;
}

.gradient:hover,
h1:hover .gradient {
    filter: hue-rotate(-5deg) brightness(0.9);
}

.go-button {
    background: linear-gradient(72deg, #146b27cc 6.74%, #80c73dbe 82.36%);
    padding: 100px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 5px;
    cursor: pointer;
    border-radius: 12px;
    font-size: 2em;
    font-family: 'Nexa', sans-serif;
    font-weight: bold;
    color: white;
    box-shadow: 10px 10px 100px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    position: relative;
}

.go-button:hover {
    filter: drop-shadow(0px 0px 10px #146b27) hue-rotate(-5deg) brightness(0.9);
    transform: scale(1.05);
    transition: 0.3s;
    outline: 2px solid #45a049;
    outline-offset: 3px;
}

.go-button .arrow-button {
    bottom: 20px;
    left: 20px;
    background-color: #e2e2e2;
    color: #2b2b2b;
    border-radius: 20px;
    position: absolute;
    font-size: 0.5em;
    padding: 10px 15px;
    transition: 0.3s;
}

.go-button:hover .arrow-button {
    filter: brightness(1.2);
}

.arrow-button-description {
    opacity: 0;
    transform: scale(0.01);
    position: absolute;
    color: transparent;
    transition:
        opacity 0.3s ease,
        visibility 0.3s ease,
        scale 0.3s ease;
}

.go-button:hover .arrow-button-description {
    opacity: 1;
    visibility: visible;
    display: inline-block;
    transform: scale(1);
    position: static;
    color: #2b2b2b;
}

a {
    text-decoration: none;
    color: black;
}

main {
    display: block;
}

nav {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 1.5em;
    font-weight: bold;
    color: #2b2b2b;
}

nav ul {
    float: right;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav li {
    display: inline;
    margin: 0 10px;
}

nav li a {
    text-decoration: none;
    color: #2b2b2b;
    padding: 10px 20px;
    border-radius: 2px;
    transition: 0.3s;
}

nav li a:hover {
    color: rgb(245, 245, 245);
    border-bottom: solid 3px rgb(245, 245, 245);
}

header {
    margin-bottom: 60px;
}

table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    /* Ensures the rounded corners are applied correctly */
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px 10px 0px 0px;
}

.auction-card table {
    width: 100%;;
}

table:hover:not(fieldset table:hover, .auction-card table:hover) {
    transform: scale(1.01);
    transition: 0.3s;
    outline: 2px solid #45a049;
    outline-offset: 2px;
}

table td {
    border: 1px solid #c0c0c0;
    padding: 8px;
    transition: 0.3s;
    text-align: center;
}

table tr th:first-child {
    border-top-left-radius: 10px;
}

table tr th:last-child {
    border-top-right-radius: 10px;
}

table thead {
    background: linear-gradient(45deg, #146b27c2 6.74%, #80c73dbb 82.36%);
}

table th {
    padding: 7px 10px;
    color: #e2e1e1;
    text-align: center;
}

table thead tr {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

table tr:nth-child(even) {
    background-color: #dddddd;
}

table tr:hover {
    background-color: #37b10723;
}

button,
input[type='file']::file-selector-button {
    padding: 20px 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1em;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    margin: 10px;
    font-weight: bold;
    max-height: 60px;

    background: #e2e2e2;
    color: #146b27;
    border: 1px solid #146b27;
    white-space: nowrap;
}

td button {
    padding: 12px 40px;
}

input[type='file']::file-selector-button.change {
    content: 'Change image';
}

input[type='file']::file-selector-button {
    padding: 10px 20px;
}

button:hover,
input[type='file']::file-selector-button:hover {
    background: linear-gradient(45deg, #146b27cc 6.74%, #80c73dbb 82.36%);
    color: white;
    transform: scale(1.05);
    outline: solid 2px #45a049;
    outline-offset: 2px;
}

button.destructive:not(:disabled),
button[type='reset'] {
    border: 1px solid #6b1414;
    color: #6b1414;
}

:disabled {
    cursor: not-allowed;
}

button:disabled,
input[type='file']:disabled::file-selector-button {
    border: 1px solid #555555;
    color: #555555;
    background: rgba(102, 102, 102, 0.23);
    cursor: not-allowed;
}

button:disabled:hover {
    outline: solid 1px #9e9e9e;
    outline-offset: 0px;
}

button:disabled:hover,
input[type='file']:disabled::file-selector-button:hover {
    background: rgba(109, 109, 109, 0.23) !important;
    color: #555555 !important;
    box-shadow: none !important;
    transform: scale(1) !important;
    outline: solid 1px #9e9e9e !important;
    outline-offset: 0px !important;
}

button.destructive:hover:not(:disabled),
button[type='reset']:hover {
    background: linear-gradient(
        45deg,
        rgba(107, 20, 20, 0.8) 6.74%,
        rgba(199, 61, 61, 0.73) 82.36%
    );
    color: white;
    transform: scale(1.05);
    outline: solid 2px #a04545;
    outline-offset: 2px;
}

input {
    transition: 0.3s;
}

input,
textarea {
    width: 100%;
    padding: 17px;
    border: 1px solid rgba(122, 175, 72, 0.5);
    border-radius: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    background-color: #e2e2e2;
    transition: 0.3s;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Nexa', sans-serif;
}

input:hover,
textarea:hover {
    outline-offset: 2px;
    outline: 1px solid #7aaf48;
    box-shadow: 0 0 5px rgba(122, 175, 72, 0.5);
}

input:user-invalid,
textarea:user-invalid {
    outline: 1px solid #af4848;
    border-color: #af4848;
    box-shadow: 0 0 5px rgba(175, 72, 72, 0.5);
}

input:user-valid,
text-area:user-valid {
    outline: 1px solid #4894af;
    border-color: #4888af;
    box-shadow: 0 0 5px rgba(72, 151, 175, 0.5);
}

input:disabled,
select:disabled,
textarea:disabled {
    outline: #5e5e5e;
    background-color: rgba(138, 138, 138, 0.23);
    border: 1px solid gray;
}

input.destructive {
    border: 1px solid #6b1414;
    color: #6b1414;
}

input.destructive:hover,
input.destructive:focus {
    outline: solid 2px #a04545;
}

label {
    font-size: 1.2em;
    margin-bottom: 5px;
    display: block;
}

input:focus {
    outline: 1px solid #7aaf48;
    border: 1px solid;
    border-color: #7aaf48;
    box-shadow: 0 0 5px rgba(122, 175, 72, 0.5);
    outline-offset: 2px;
}

fieldset {
    border: 2px solid #7aaf48;
    border-radius: 10px;
    width: auto;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 20px 0px;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.1);
}

fieldset p {
    text-align: justify;
}

fieldset.destructive {
    border: 2px solid #6b1414;
}

legend {
    font-size: 1.4em;
}

input[type='tel'],
input[type='url'],
input[type='search'],
select,
textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid rgba(122, 175, 72, 0.5);
    border-radius: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    transition: 0.3s;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.1);
}

textarea {
    min-height: 120px;
    resize: vertical;
}

input[type='tel']:focus,
input[type='url']:focus,
input[type='search']:focus,
select:focus,
textarea:focus {
    border-color: #7aaf48;
    box-shadow: 0 0 5px rgba(122, 175, 72, 0.5);
}

input[type='range'] {
    width: 100%;
    margin-bottom: 10px;
    accent-color: #7aaf48;
    border-radius: 10px;
    margin-bottom: 10px;
}

input[type='color'] {
    width: 60px;
    height: 40px;
    border: 1px solid rgba(122, 175, 72, 0.5);
    border-radius: 5px;
    padding: 2px;
    cursor: pointer;
}

input[type='checkbox'],
input[type='radio'] {
    margin-right: 10px;
    width: 25px;
    height: 25px;
    accent-color: #7aaf48;
    transform: scale(1.2);
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
}

input[type='checkbox'].destructive,
input[type='radio'].destructive {
    accent-color: #6b1414;
}

.breadcrumb {
    display: flex;
    align-items: center;
    margin: 20px 0;
    padding: 20px;
    background-color: #e2e2e2;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    gap: 10px;
    transition: 0.3s;
    color: #45a049;
    cursor: pointer;
}

.breadcrumb:hover {
    outline: 2px solid #45a049;
    outline-offset: 2px;
}

.breadcrumb a:hover {
    background: linear-gradient(72deg, #146b27c2 6.74%, #80c73dbb 82.36%);
    color: white;
}

.breadcrumb a {
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    margin: 20px 10px;
}

img:hover {
    transform: scale(1.05);
    transition: 0.3s;
    outline: 2px solid #45a049;
    outline-offset: 3px;
}

.info,
.error,
.success,
.warning {
    padding: 5px 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.1);
    font-size: 1.1em;
    transition: 0.3s;
    display: flex;
    align-items: center;
}

.info .icon::before {
    font-family: 'Font Awesome 6 Free', serif;
    content: '\f05a';
    font-weight: 600;
}

.error .icon::before {
    font-family: 'Font Awesome 6 Free', serif;
    content: '\f06a';
    font-weight: 600;
}

.success .icon::before {
    font-family: 'Font Awesome 6 Free', serif;
    content: '\f058';
    font-weight: 600;
}

.warning .icon::before {
    font-family: 'Font Awesome 6 Free', serif;
    content: '\f071';

    font-weight: 600;
}

.info p,
.error p,
.success p,
.warning p {
    display: flex;
    align-items: center;
}

.info:hover,
.error:hover,
.success:hover,
.warning:hover {
    transform: scale(1.01);
    outline-offset: 2px;
}

.info p::before,
.error p::before,
.success p::before,
.warning p::before {
    display: block;
    margin-right: 20px;
    margin-left: 10px;
}

.info {
    border: 1px solid rgb(var(--info-color));
    color: rgb(var(--info-color));
    background-color: rgba(var(--info-color), 0.1);
}

.info:hover {
    outline: 2px solid rgb(var(--info-color));
}

.info p::before {
    content: 'Info ';
    font-weight: bold;
}

.error {
    border: 1px solid rgb(var(--error-color));
    color: rgb(var(--error-color));
    background-color: rgba(var(--error-color), 0.1);
}

.error:hover {
    outline: 2px solid rgb(var(--error-color));
}

.error p::before {
    content: 'Error ';
    font-weight: bold;
    color: rgb(var(--error-color));
}

.success {
    border: 1px solid rgb(var(--success-color));
    color: rgb(var(--success-color));
    background-color: rgba(var(--success-color), 0.1);
}

.success:hover {
    outline: 2px solid rgb(var(--success-color));
}

.success p::before {
    content: 'Success ';
    font-weight: bold;
    color: rgb(var(--success-color));
}

.warning {
    border: 1px solid rgb(var(--warning-color));
    color: rgb(var(--warning-color));
    background-color: rgba(var(--warning-color), 0.1);
}

.warning:hover {
    outline: 2px solid rgb(var(--warning-color));
}

.warning p::before {
    content: 'Warning ';
    font-weight: bold;
    color: rgb(var(--warning-color));
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    gap: 40px;
    margin: 20px 0px;
    width: 100%;
}

.wrap {
    flex-wrap: wrap;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin: 20px 0px;
}

section#messages {
    background-color: rgba(226, 226, 226, 0.89);
    border-radius: 10px;
}

fieldset .info,
fieldset .error,
fieldset .success,
fieldset .warning {
    margin-top: 0px;
}

.auction-link {
    text-decoration: none;
    color: #146b27;
    padding: 10px 20px;
    border-radius: 10px;
    transition: 0.3s;
    border: 1px solid #146b27;
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    font-weight: 600;
}

.auction-link.destructive {
    border: 1px solid #6b1414;
    color: #6b1414;
}

.auction-link:hover {
    transform: scale(1.05);
    outline: solid 2px #45a049;
    outline-offset: 2px;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.1);
}

.auction-link.destructive:hover {
    outline: solid 2px #a04545;
}

.auction-link::after {
    content: '\f08e';
    margin-left: 10px;
    font-size: 0.8em;
    transition: 0.3s;
    font-family: 'Font Awesome 6 Free', serif;
    font-weight: 600;
}

.auction-link:hover::after {
    transform: translateX(25px);
    margin-left: 20px;
}

.winner {
    display: flex;
    align-content: center;
    align-items: center;
    min-height: 100px;
}

.photo-stack {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-left: 80px;
    transition:
        transform 0.5s ease,
        gap 0.5s ease;
}

.photo-stack:hover {
    transform: scale(1.02);
    gap: 30px;
}

.photo-stack img {
    max-width: 200px;
    border-radius: 15px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    transition:
        transform 0.5s ease,
        box-shadow 0.5s ease,
        filter 0.5s ease;
    margin: 20px 10px;
    margin-left: -100px;
    z-index: 0;
    filter: brightness(0.95);
    flex-wrap: nowrap;
    width: 150px;
    height: 100px;
    object-fit: cover;
    object-position: center;
}

.photo-stack img:hover {
    transform: scale(1.05);
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);
    filter: brightness(1.1);
    z-index: 1;
}

.photo-stack img:not(:hover) {
    transform: translateX(-20px);
    filter: brightness(0.8);
    transition:
        transform 0.5s ease,
        filter 0.5s ease;
}

.auction-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0px;
    padding: 20px;
    background-color: #e2e2e2;
    border-radius: 10px;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #7aaf48;
    transition: 0.3s;
    max-width: 400px;
}

.auction-card .photo-stack {
    margin-left: 140px;
}

.auction-card-author {
    font-weight: bold;
    font-size: 1.2em;
}

.auction-card:hover {
    transform: scale(1.01);
    outline: 2px solid #45a049;
    outline-offset: 2px;
}

.auction-card-detail p {
    text-align: left;
    margin-bottom: 0;
}

.auction-card-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex-direction: row;
    margin-top: 10px;
    align-items: center;
}

.auction-card-tags:before {
    content: 'Products: ';
    display: block;
    align-items: center;
    align-content: center;
    font-weight: bold;
    margin-right: 10px;
    color: #353535;
}

.auction-card-tag {
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #c3c3c3;
    color: #2b2b2b;
    cursor: pointer;
    transition: 0.3s;
}

.auction-card-tag:hover {
    background: linear-gradient(72deg, #146b27c2 6.74%, #80c73dbb 82.36%);
    color: #e2e2e2;
}

.auction-card-tag:before {
    font-family: 'Font Awesome 6 Free', serif;
    content: '\f002';
    margin-right: 5px;
    font-weight: 600;
}

.no-style-button {
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    padding: 0;
    margin: 0;
    text-decoration: none;
    min-width: 0;
    min-height: 0;
    box-shadow: none;
    font-size: 0.8em;
}

.no-style-button:hover {
    text-decoration: none;
    transform: scale(1.05);
    outline: none;
    border: none;
    padding: 0;
    background: none;
}

button[type='submit']:not(.no-style-button)::after {
    font-family: 'Font Awesome 6 Free', serif;
    content: '\f044';
    display: inline-block;
    margin-left: 5px;
    font-weight: 600;
}

button[type='submit'].details-button::after {
    font-family: 'Font Awesome 6 Free', serif;
    content: '\f054';
    display: inline-block;
    margin-left: 5px;
    font-weight: 600;
}

button[type='reset']::after {
    font-family: 'Font Awesome 6 Free', serif;
    content: '\f00d';
    display: inline-block;
    margin-left: 5px;
    font-weight: 600;
}

button[type='submit'].destructive::after,
button.destructive::after {
    font-family: 'Font Awesome 6 Free', serif;
    content: '\e0b7';
    display: inline-block;
    margin-left: 5px;
    font-weight: 600;
}

button[type='submit']:disabled::after,
button:disabled::after {
    font-family: 'Font Awesome 6 Free', serif;
    content: '\21';
    display: inline-block;
    margin-left: 5px;
    font-weight: 600;
}

input[type='file']::file-selector-button::before {
    font-family: 'Font Awesome 6 Free', serif;
    content: '\f07c';
    display: inline-block;
    margin-left: 5px;
    font-weight: 600;
}

input[type='number']::after {
    font-family: 'Font Awesome 6 Free', serif;
    content: '\f0e0';
    display: inline-block;
    margin-left: 5px;
    font-weight: 600;
}

input#buy-search-button::after {
    font-family: 'Font Awesome 6 Free', serif;
    content: '\f002';
    display: inline-block;
    margin-left: 5px;
    font-weight: 600;
}
