:root {
    --primary-color: #006816;
    --secondary-color: #37b107;
    --background-color: #e2e1e1;
    --text-color: #2b2b2b;
    --hover-brightness: 0.9;
    --font-family: 'Nexa', sans-serif;
    --button-gradient-start: #146b27cc;
    --button-gradient-end: #80c73dbe;
    --outline-color: #45a049;
    --box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.1);
    --transition-duration: 0.3s;
    --border-radius: 10px;
    
    --error-color: 175, 73, 72;
    --success-color: 72, 122, 175;
    --info-color: 72, 175, 175;  
    --warning-color: 175, 175, 72;
}

body {
    font-family: 'Nexa', sans-serif;
    background-color: #e2e1e1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0px;
    scroll-behavior: smooth;
    color: #2b2b2b;
    align-items: center;
    text-align: left;
}


h1 {
    font-size: 3em;
    margin-bottom: 0.2em;

}

h2 {
    font-size: 2em;
    color: #2b2b2b;
    margin: 0;
}


.gradient {
    background: linear-gradient(72deg, #006816 6.74%, #37b107 82.36%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    transition: 0.3s;
}

.gradient:hover,
h1:hover .gradient {
    filter: hue-rotate(-5deg) brightness(0.9);
}

.go-button {
    background: linear-gradient(72deg, #146b27cc 6.74%, #80c73dbe 82.36%);
    padding: 100px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 5px;
    cursor: pointer;
    border-radius: 12px;
    font-size: 2em;
    font-family: 'Nexa', sans-serif;
    font-weight: bold;
    color: white;
    box-shadow: 10 10 100px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    position: relative;
}


.go-button:hover {
    filter: drop-shadow(0px 0px 10px #146b27) hue-rotate(-5deg) brightness(0.9);
    transform: scale(1.05);
    transition: 0.3s;
    outline: 2px solid #45a049;
    outline-offset: 3px;
}

.go-button .arrow-button {
    bottom: 20px;
    left: 20px;
    background-color: #e2e2e2;
    color: #2b2b2b;
    border-radius: 20px;
    position: absolute;
    font-size: 0.5em;
    padding: 10px 15px;
    transition: 0.3s;
}

.go-button:hover .arrow-button {
    filter: brightness(1.2);
}


.arrow-button-description {
    opacity: 0;
    transform: scale(0.01);
    position: absolute;
    color: transparent;
    transition: opacity 0.3s ease, visibility 0.3s ease, scale 0.3s ease;
}

.go-button:hover .arrow-button-description {
    opacity: 1;
    visibility: visible;
    display: inline-block;
    transform: scale(1);
    position: static;
    color: #2b2b2b;
}

a {
    text-decoration: none;
    color: black
}

main{
    display: block;
}

nav {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 1.5em;
    font-weight: bold;
    color: #2b2b2b;
}

nav ul {
    float: right;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav li {
    display: inline;
    margin: 0 10px;
}

nav li a {
    text-decoration: none;
    color: #2b2b2b;
    padding: 10px 20px;
    border-radius: 2px;
    transition: 0.3s;
}

nav li a:hover {
    color: rgb(245, 245, 245);
    border-bottom: solid 3px rgb(245, 245, 245);

}

header {
    margin-bottom: 60px;
}

table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    /* Ensures the rounded corners are applied correctly */
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px 10px 0px 0px;
}

table:hover {
    transform: scale(1.01);
    transition: 0.3s;
    outline: 2px solid #45a049;
    outline-offset: 2px;

}

table td {
    border: 1px solid #c0c0c0;
    padding: 8px;
    transition: 0.3s;

}

table tr th:first-child {
    border-top-left-radius: 10px;
}

table tr th:last-child {
    border-top-right-radius: 10px;
}

table thead {
    background: linear-gradient(45deg, #146b27c2 6.74%, #80c73dbb 82.36%);
}

table th {
    text-align: left;
    padding: 7px 10px;
    color: #e2e1e1;
}

table thead tr {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}


table tr:nth-child(even) {
    background-color: #dddddd;
}

table tr:hover {
    background-color: #37b10723;
}


button {
    padding: 20px 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1em;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    margin: 10px;
    font-weight: bold;
    max-height: 60px;

    background: #e2e2e2;
    color: #146b27;
    border: 1px solid #146b27;
}

button:hover {
    background: linear-gradient(45deg, #146b27cc 6.74%, #80c73dbb 82.36%);
    color: white;
    transform: scale(1.05);
    outline: solid 2px #45a049;
    outline-offset: 2px;
}

button.destructive, button[type="reset"] {
    border: 1px solid #6b1414;
    color: #6b1414;
}

button.destructive:hover, button[type="reset"]:hover{
    background: linear-gradient(45deg, rgba(107, 20, 20, 0.8) 6.74%, rgba(199, 61, 61, 0.73) 82.36%);
    color: white;
    transform: scale(1.05);
    outline: solid 2px #a04545;
    outline-offset: 2px;
}

input {
    transition: 0.3s;
}


input{
    width: 100%;
    padding: 17px;
    border: 1px solid rgba(122, 175, 72, 0.5);
    border-radius: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    background-color: #e2e2e2;
    transition: 0.3s;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.1);
}

input:hover {
    outline-offset: 2px;
    outline: 1px solid #7aaf48;
    box-shadow: 0 0 5px rgba(122, 175, 72, 0.5);
}

input:user-invalid {
    outline: 1px solid #af4848;
    border-color: #af4848;
    box-shadow: 0 0 5px rgba(175, 72, 72, 0.5);
}

input:user-valid {
    outline: 1px solid #4894af;
    border-color: #4888af;
    box-shadow: 0 0 5px rgba(72, 151, 175, 0.5);
}

input:disabled{
    outline: #5e5e5e;
    background-color : rgba(138, 138, 138, 0.23);
    border: 1px solid gray;
}

input.destructive {
    border: 1px solid #6b1414;
    color: #6b1414;
}

input.destructive:hover, input.destructive:focus{
    outline: solid 2px #a04545;
}


label {
    font-size: 1.2em;
    margin-bottom: 5px;
    display: block;
}

input:focus{
    outline: 1px solid #7aaf48;
    border: 1px solid;
    border-color: #7aaf48;
    box-shadow: 0 0 5px rgba(122, 175, 72, 0.5);
    outline-offset: 2px;
}

fieldset {
    border: 2px solid #7aaf48;
    border-radius: 10px;
    width: auto;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 20px 0px;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.1);
}

fieldset.destructive {
    border: 2px solid #6b1414;
}

legend {
    font-size: 1.4em;
}

input[type="tel"],
input[type="url"],
input[type="search"],
select,
textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid rgba(122, 175, 72, 0.5);
    border-radius: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    transition: 0.3s;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.1);
}

textarea {
    min-height: 120px;
    resize: vertical;
}

input[type="tel"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
select:focus,
textarea:focus {
    border-color: #7aaf48;
    box-shadow: 0 0 5px rgba(122, 175, 72, 0.5);
}

input[type="range"] {
    width: 100%;
    margin-bottom: 10px;
    accent-color: #7aaf48;
    border-radius: 10px;
    margin-bottom: 10px;

}

input[type="color"] {
    width: 60px;
    height: 40px;
    border: 1px solid rgba(122, 175, 72, 0.5);
    border-radius: 5px;
    padding: 2px;
    cursor: pointer;
}

input[type="checkbox"],
input[type="radio"] {
    margin-right: 10px;
    width: 25px;
    height: 25px;
    accent-color: #7aaf48;
    transform: scale(1.2);
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
}

input[type="checkbox"].destructive,
input[type="radio"].destructive {
    accent-color: #6b1414;
}

.breadcrumb {
    display: flex;
    align-items: center;
    margin: 20px 0;
    padding: 20px;
    background-color: #e2e2e2;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    gap: 10px;
    transition: 0.3s;
    color: #45a049
}

.breadcrumb:hover {
    outline: 2px solid #45a049;
    outline-offset: 2px;
}

.breadcrumb a:hover {
    background: linear-gradient(72deg, #146b27c2 6.74%, #80c73dbb 82.36%);
    color: white;
}

.breadcrumb a {
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s;

}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    margin: 20px 10px;
}

img:hover {
    transform: scale(1.05);
    transition: 0.3s;
    outline: 2px solid #45a049;
    outline-offset: 3px;
}

.info,
.error,
.success,
.warning {
    padding: 5px 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.1);
    font-size: 1.1em;
    transition: 0.3s;
}

.info p,
.error p,
.success p,
.warning p {
   display: flex;
   align-items: center;
}

.info:hover,
.error:hover,
.success:hover,
.warning:hover {
    transform: scale(1.01);
    outline-offset: 2px;
}
.info p::before,
.error p::before,
.success p::before,
.warning p::before{
    display: block;
    margin-right: 20px;

}

.info {
    border: 1px solid rgb(var(--info-color));
    color: rgb(var(--info-color));
    background-color: rgba(var(--info-color), 0.1);
}

.info:hover {
    outline: 2px solid rgb(var(--info-color));
}

.info p::before {
    padding-left: 20px;
    content: "Info: ";
    font-weight: bold;
}

.error {
    border: 1px solid rgb(var(--error-color));
    color: rgb(var(--error-color));
    background-color: rgba(var(--error-color), 0.1);
}

.error:hover {
    outline: 2px solid rgb(var(--error-color));
}

.error p::before {
    padding-left: 20px;
    content: "Error: ";
    font-weight: bold;
    color: rgb(var(--error-color));
}

.success {
    border: 1px solid rgb(var(--success-color));
    color: rgb(var(--success-color));
    background-color: rgba(var(--success-color), 0.1);
}

.success:hover {
    outline: 2px solid rgb(var(--success-color));
}

.success p::before {
    padding-left: 20px;
    content: "Success: ";
    font-weight: bold;
    color: rgb(var(--success-color));
}

.warning {
    border: 1px solid rgb(var(--warning-color));
    color: rgb(var(--warning-color));
    background-color: rgba(var(--warning-color), 0.1);
}

.warning:hover {
    outline: 2px solid rgb(var(--warning-color));
}

.warning p::before {
    padding-left: 20px;
    content: "Warning: ";
    font-weight: bold;
    color: rgb(var(--warning-color));
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    gap: 40px;
    margin: 20px 0px;
    width: 100%;

}


.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin: 20px 0px;
}

section#messages {
    background-color: #e2e2e2a8;
    border-radius: 10px;
}

fieldset .info, 
fieldset .error,
fieldset .success,
fieldset .warning {
    margin-top: 0px;
}